<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>

    <link
      href="https://cdn.jsdelivr.net/gh/eliyantosarage/font-awesome-pro@main/fontawesome-pro-6.5.1-web/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-light">
    <div id="app">
      <header>
        <nav class="navbar bg-white shadow">
          <div class="container">
            <a class="navbar-brand" href="#" v-text="sitename"></a>
            <button
              @click="showCheckout()"
              type="button"
              class="btn btn-primary position-relative"
            >
              <i class="fa-solid fa-cart-shopping fs-6"></i>
              <span
                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
              >
                {{ CartItemCount }}
                <span class="visually-hidden"></span>
              </span>
            </button>
            <span class="badge text-bg-secondary"></span>
          </div>
        </nav>
      </header>
      <div v-if="ShowProduct" class="">
        <div class="banner">
          <img src="Images/banner.png" alt="Banner Image Description" />
        </div>
        <div class="container my-5">
          <div class="row justify-content-evenly">
            <div>
              <div class="container">
                <h2>Lessons</h2>
                <div class="row align-items-center mb-3">
                  <div class="col-md-3">
                    <select v-model="sortBy" class="form-select form-select-sm">
                      <option value="subject">Subject</option>
                      <option value="location">Location</option>
                      <option value="price">Price</option>
                      <option value="spaces">Spaces</option>
                    </select>
                  </div>
                  <div class="col-md-3">
                    <select
                      v-model="sortOrder"
                      class="form-select form-select-sm"
                    >
                      <option value="asc">Ascending</option>
                      <option value="desc">Descending</option>
                    </select>
                  </div>
                  <div class="col-md-6 d-flex align-items-center">
                    <div class="input-group">
                      <input
                        type="text"
                        v-model="searchValue"
                        placeholder="Search Lesson"
                        id="search-input"
                        class="form-control form-control-sm"
                        aria-describedby="searchButton"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div
              v-for="item in sortedLessons"
              class="my-3 col-sm-6 col-md-4"
              ::key="item.id"
            >
              <div class="my-3 col-sm-6 col-md-4 w-100">
                <div class="card border-0 rounded shadow">
                  <img
                    v-bind:src="item.picture"
                    class="card-img-top rounded"
                    alt="..."
                  />
                  <div class="card-body mt-3 mb-3">
                    <div class="row">
                      <div class="col-10">
                        <h4 class="card-title fw-bold">
                          Subject: {{ item.subject }}
                        </h4>
                        <p class="card-text fw-bold">
                          <i class="bi bi-star-fill text-warning"></i>
                          <i class="bi bi-star-fill text-warning"></i>
                          <i class="bi bi-star-fill text-warning"></i>
                          <i class="bi bi-star-fill text-warning"></i>
                          Description: {{ item.description }}
                        </p>
                      </div>
                      <div class="col-md-10 fw-bold">
                        location : {{item.location}}
                      </div>
                      <div class="col-md-10 fw-bold">
                        available Inventory : {{item.availability}}
                      </div>
                      <div class="col-2">
                        <i class="bi bi-bookmark-plus fs-2"></i>
                      </div>
                    </div>
                    <div class="row align-items-center text-start g-0">
                      <div class="col-md-12">
                        <h5>Price: {{ item.price }}AED</h5>
                      </div>
                    </div>

                    <a
                      v-if="CanAddToCart(item)"
                      e
                      @click="AddToCartBtn(item)"
                      e
                      href="#"
                      class="btn btn-dark w-100 p-3 rounded text-white"
                      >ADD TO CART</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-else>
        <div class="container my-4">
          <div class="row">
            <div class="col-12">
              <h1>Check Out Page</h1>
            </div>
            <div>
              <div class="container">
                <div v-if="Cart.length">
                  <ul class="list-group">
                    <li
                      v-for="item in Cart"
                      :key="item.id"
                      class="list-group-item my-2"
                    >
                      {{ item.subject }} ({{ item.availability }} available)
                      <span class="float-end">
                        AED {{ item.price * item.availability }}
                        <button
                          @click="removeFromCart(item)"
                          class="btn btn-sm btn-danger"
                        >
                          Remove
                        </button>
                      </span>
                    </li>
                  </ul>

                  <div class="text-right">
                    <h5>Total: AED {{ cartTotal }}</h5>
                    <div class="row">
                      <div class="col-6 mb-3">
                        <label for="exampleFormControlInput1" class="form-label"
                          >Email address</label
                        >
                        <input
                          type="text"
                          v-model.number="name"
                          required
                          type="email"
                          class="form-control"
                          id="exampleFormControlInput1"
                          placeholder="Name"
                        />
                      </div>
                      <div class="mb-3 col-6">
                        <label for="exampleFormControlInput1" class="form-label"
                          >Phone Number</label
                        >
                        <input
                          type="number"
                          v-model.trim="phone"
                          required
                          class="form-control"
                          id="exampleFormControlInput1"
                          placeholder="Phone Number"
                        />
                      </div>
                    </div>

                    <button
                      :disabled="!name || !phone"
                      type="button"
                      class="btn btn-primary"
                      data-bs-toggle="modal"
                      data-bs-target="#placeordermodal"
                    >
                      Check Out
                    </button>
                  </div>
                </div>

                <div v-else>
                  <p>Your cart is empty.</p>
                </div>
              </div>
            </div>
          </div>

          <div
            class="modal fade"
            id="placeordermodal"
            tabindex="-1"
            aria-labelledby="placeordermodalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="placeordermodalLabel">
                    Order Confirmation
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">Order Has Been Placed</div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
  integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
  crossorigin="anonymous"
></script>
<script type="module" src="JavaScript/App.js"></script>
<script type="module" src="JavaScript/Products.js"></script>
<style>
  .banner {
    background-size: cover;
    width: 100%; /* Set width to 100% viewport width */
    height: auto; /* Set height to 100% viewport height */
  }

  .banner img {
    width: 100%; /* Set image width to 100% of banner width */
  }
</style>
